.faq-section {
  padding-bottom: 80px;

  @include media(tablet) {
    padding-bottom: 120px;
  }

  @include media(desktop) {
    padding-bottom: 140px;
  }
}

.faq-section-title {
  &::after {
    width: 195px;

    @include media(tablet) {
      width: 263px;
    }
  }

  @include media(desktop) {
    width: 483px;
  }
}

.faq-list {
  &__item {
    padding: 22px 14px;

    border: 2px solid $accent-color;
    border-radius: 15px;

    &.active .faq-button {
      transform: rotateZ(45deg);
    }

    &.active .question-box {
      padding-bottom: 24px;
    }

    &.active .faq-list__answer {
      max-height: 100vh;
    }

    @include media(tablet) {
      padding: 31px 38px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__question {
    @include font(18, 21.6);

    @include media(tablet) {
      @include font(24, 28.8);
    }
  }

  &__answer {
    @include font(16, 27);

    max-height: 0;
    overflow: hidden;
    @include transition(max-height);

    @include media(tablet) {
      width: 558px;
    }

    @include media(desktop) {
      width: 750px;
    }
  }

  @include media(desktop) {
    padding: 0 102px;
  }
}

.question-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include transition(padding-bottom);
}

.faq-button {
  @include centeredByFlex();
  @include getSize(32, 32);

  background-color: transparent;
  border: none;

  @include transition(fill, transform);

  &:hover {
    fill: $btn-hover-bg-color;
  }

  &:active {
    fill: $btn-active-bg-color;
  }
}
