*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $primary-text-color;

  &.isOpen {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
  color: $title-color;
}

.section {
  margin: 0 auto;
  padding-top: 80px;

  @include media(tablet) {
    padding-top: 120px;
  }

  @include media(desktop) {
    padding-top: 140px;
  }
}

.container {
  max-width: $mobile;
  padding: 0 20px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: $tablet;
    padding: 0 40px;
  }

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 120px;
  }
}

.section-title {
  position: relative;

  margin-bottom: 40px;

  @include font(40, 44);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;

    height: 50px;

    background-color: $bg-title-decor;

    @include media(desktop) {
      height: 72px;
    }
  }

  @include media(tablet) {
    margin-bottom: 56px;
    @include font(56, 66);
  }

  @include media(desktop) {
    margin-bottom: 68px;
  }
}
