*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $primary-text-color;

  //   background-color: $body-bg-color;
}

h1,
h2,
h3 {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 500;
  color: $title-color;
}

.section {
  margin: 0 auto;
  padding-top: 80px;
}

.container {
  max-width: $mobile;
  padding: 0 20px;
  margin: 0 auto;

  @include media(tablet) {
    max-width: $tablet;
    padding: 0 40px;
  }

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 120px;
  }
}

.section-title {
  @include font(40, 44);
}
